<h1>Home</h1>

<% if policy(Listing).new? %>
  <% if @sellerlisting == [] %>
    <h2>You currently have no listings</h2>
  <% else %>
    <% @sellerlisting.each do |listing| %>
      <p> <%= link_to listing.title, listing %> </p>
    <% end %>
  <% end %>
<% else %>
  <% @listing.each do |listing| %>
    <p> <%= link_to listing.title, listing %> </p>
  <% end %>
<% end %>

<%= link_to 'New Listing', new_listing_path, class: "btn btn-primary" if policy(Listing).new? %>